#Testing {
  display: flex;
  position: absolute;
  background-color: #00000000;
  color: #FFFFFF;
  text-shadow: 0 0 8px #000000;
  inset: 0;
  align-items: center;
  justify-content: center;
  font-family: 'Homemade Apple', cursive;
  font-weight: 800;
  font-style: italic;
  font-size: 400%;
  transition: font-size 250ms;
  text-align: center;
  
}

#Header {
  position: fixed;
  background-color: #F0F0F0;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1000;
  opacity: 0.8;
  left: 1%;
  right: 1%;
  padding: 10px;
}
